.app-bar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column;
  padding: 15px;
  width: 100%;
  z-index: 1030;
  background: white;
  box-shadow: $shadow-sm;


  &__btn-icon{
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    min-width: 24px;
    min-height: 24px;

    &:hover{
      cursor: pointer;
    }

    &--back{
      margin-right: 20px;

      &::before{
        content: url('../../images/icons/back.svg'); 
        display: flex;
        align-items: center;
        height: 24px;
        margin-top: 5px;
      }
    }
    
    &--history{
      position: absolute;
      right: 15px;

      &::before{
        content: url('../../images/icons/history.svg'); 
        display: flex;
        align-items: center;
        height: 24px;
        margin-top: 5px;
      }
    }
    
  }
  
  & h3{
    margin-bottom: 0;
  }

  &__location{
    display: flex;
    align-items: center;
    height: 15px;
    margin-left: 15px;
    margin-top: 10px;

    & p{
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 10px;
      font-size: .9rem;
      line-height: 1rem;
    }

    & button{
      font-size: .8rem;
      text-transform: capitalize;
    }
  }

  &__title{
    display: flex;
    align-items: flex-start;
  }
}