@import url('https://fonts.googleapis.com/css?family=Nunito|Quicksand&display=swap');

.container{
  width: 100%;
  padding: 60px 15px 80px;
  margin: 0 auto;
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

.img-responsive{
  max-width: 100%;
  height: auto;
}

.margin-auto{
  margin: auto;
}

.z-depth-1 {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
              0 3px 1px -2px rgba(0,0,0,0.12),
              0 1px 5px 0 rgba(0,0,0,0.2);
}

.z-depth-1-half {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}