.btn {
  display: inline-block;
  border: none;
  border-radius: 4px;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  font-family: "Nunito", sans-serif;
  text-transform: capitalize;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: white;
  background-color: $black;
  text-align: center;
  letter-spacing: .5px;
  @extend .z-depth-1;
  transition: background-color .2s ease-out;
  cursor: pointer;

  &:focus {
    background-color: darken($black, 10%);
  }
  
  &:hover {
    background-color: lighten($black, 5%);
    @extend .z-depth-1-half;
  }
  
  &--small {
    height: 32.4px;
    line-height: 32.4px;
    font-size: 12px;
  }
  
  &--primary{
    background: $primary;
    
    &:hover{
      background: lighten($primary, 5%)
    }
  }

  &__outline-primary{
    background: white;
    color: $primary;
    border: 1px solid $primary;
    box-shadow: $shadow;

    &:hover{
      background: $primary;
      color: white;
    }
  }
  
  &--block {
    display: block;
    width: 100%;
  }

  &--transparent{
    color: inherit;
    background: transparent;
    border: none;
    box-shadow: none;

    &:hover{
      background: none;
      box-shadow: none;
    }

    &:focus{
      background: none;
    }
  }

  &--float{
    position: fixed;
    bottom: 10%;
    right: 5%;
  }
}