.card{
  position: relative;

  &--horizontal-scroll{
    display: flex;
    flex-basis: 100%;
    overflow-x: scroll;
    
    &::-webkit-scrollbar{ width: 0 }

    & .card__item{
      padding: 10px 0;
    }

    & .card__item__detail{
      min-width: 140px;
    }
  }
  
  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    margin: 0 -12px;

    &--row-flow{
      flex-flow: row;
      flex-wrap: wrap;
      flex-basis: 90%;
    }
  }

  &__item{
    display: flex;
    max-width: 100%;
    margin: 10px 12px;
    padding: 12px;
    border-radius: 4px;
    background: white;
    box-shadow: $shadow-sm;

    &__detail{
      padding-left: 15px;
      font-size: .8rem;

      & p{
        margin-top: 5px;
        margin-bottom: 5px;
      }

      & ul{
        position: relative;
        list-style: none;
        padding-inline-start: 0px;

        li{
          margin-bottom: 10px;
          margin-left: 25px;

          &:before{
            content: '';
            left: 0;
            width: 10px;
            align-items: center
          }
        }
        
        li.location::before{
          content: url('../../images/icons/art_location.svg');
          position: absolute;
        }
        
        li.mdpl::before{
          content: url('../../images/icons/art_mountain.svg');
          position: absolute;
        }
      }
    }

    &--vertical{
      flex-flow: column;
    }
  }

  &__link{
    text-decoration: none;
    color: $primary;
  }

  &__image{
    width: 120px;
    object-fit: contain;
    border-radius: 4px;

    &--small{
      width: 90px;
    }

    &--cover{
      object-fit: cover;
    }
  }
}
