
.form{
  position: relative;
  
  &__input {
    position: relative;
    display: block;
    width: 100%;
    height: 2.3rem;
    padding: .375rem 1rem ;
    font-family: inherit;
    font-size: .95rem;
    color: lighten($black, 20%);
    background-color: #f8f8f8;
    background-clip: padding-box;
    border: 1px solid lighten($black, 75%);
    border-radius: 2px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  
    &:focus{
      border-width: 1.5px;
      border-color: lighten($black, 60)
    }
  
    &::-ms-expand {
      background-color: transparent;
      border: 0;
    }
  
    &::placeholder {
      color: lighten($black, 45);
      opacity: 1;
    }

    &--large{
      height: 2.5rem;
      padding: .5rem 1 rem;
      font-size: 1.2rem;
    }
  
    &--rounded{
      border-radius: 50rem;
    }
  
    &--center{
      text-align: center;
      &::placeholder{
        text-align: center
      }
    }
  
    &__icon{
      position: absolute;
      left: 0;
      width: 32px;
    }

    &__search{
      position: absolute;
      top: 5px;
      right: 0;
    }
  }

  &__group-input{
    position: relative;
    margin: 15px 5px;

    & label.large{
      display: block;
      color: lighten($black, 15%)
    }
  }
}