.navigation{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40px;
  background: white;
  z-index: 1030;
  box-shadow: 0 -.125rem .25rem rgba($primary, .075);

  &__home{
    display: block;
    height: 25px;
    width: 25px;
    background-size: 25px 25px;
    background-image: url("../../images/icons/navigation/Nav-kompas.svg");

    &--active{
      background-image: url("../../images/icons/navigation/Nav-kompas-active.svg");
    }
  }

  &__activity{
    display: block;
    height: 25px;
    width: 25px;
    background-size: 25px 25px;
    background-image: url("../../images/icons/navigation/Nav-activities.svg");
    
    &--active{
      background-image: url("../../images/icons/navigation/Nav-activities-active.svg");
    }
  }

  &__event{
    display: block;
    height: 25px;
    width: 25px;
    background-size: 25px 25px;
    background-image: url("../../images/icons/navigation/Nav-event.svg");
    
    &--active{
      background-image: url("../../images/icons/navigation/Nav-event-active.svg");
    }
  }

  &__profile{
    display: block;
    height: 25px;
    width: 25px;
    background-size: 25px 25px;
    background-image: url("../../images/icons/navigation/Nav-account.svg");
    
    &--active{
      background-image: url("../../images/icons/navigation/Nav-account-active.svg");
    }
  }
}