$primary:     #177B3E;
$black:       #393E41;
$orange:      #F4A261;


$font-family-base:            "Nunito", sans-serif;

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$shadow-sm:               0 .125rem .25rem rgba($primary, .075) !default;
$shadow:                  0 .5rem 1rem rgba($primary, .15) !default;