.login{
  position: relative;
  display: flex;
  flex-flow: column;
  align-content: space-between;
  height: 100vh;
  padding-bottom: 0;
  background: white;
  z-index: 1031;

  &__header{
    padding-top: 3rem;
    font-size: 3rem;
    color: lighten($black, 20%)
  }

  &__form-wrapper{
    margin-top: 4rem;

    & label{
      font-weight: $font-weight-bold;
      font-size: 1.3rem;
    }
  }

  &__image{
    margin: 16px 0;
    max-width: 20%;
    height: auto;

    &--absolute{
      position: absolute;
      top: 20px;
      right: 0;
      z-index: -1;
    }
  }
}

.register{
  position: relative;
  display: flex;
  margin-top: auto;
  flex-flow: column;
  height: 100vh;
  text-align: center;
  z-index: 1031;

  &--bg-primary{
    background: $primary;
  }

  & a{
    color: $primary;
  }

  &__btn{
    margin: 10px 0;
    font-weight: $font-weight-bold;
    font-size: 1.2rem;
    color: $primary;
    background: white;
  }
}