.event{
  position: relative;

  &__hero{
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-top: 1.5rem;
  }

  &__destination{
    display: flex;
    flex-wrap: wrap;

    & h3{
      flex-basis: 100%;
      margin-top: 2.5rem;
    }

    & td{
      padding: 0px;
    }
  }

  &__leader{
    display: flex;
    flex-flow: column;
    flex-basis: 100%;
    
    & h3{
      margin-top: 2.5rem;
    }

    &__information{
      display: flex;
      align-items: center;
      margin-top: 10px;

      & p{
        margin: 0;
      }
      
    }

    &__image{
      width: 100px;
      height: 100px;
      background: lighten($primary, 50%);
      border-radius: 50%;
    }

  }
}