.start-hiking{
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: white;
  z-index: 1041;

  &__form{
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: column;
  }

}