.user-profile{
  position: relative;
  display: flex;
  margin-top: 2rem;
  height: 320px;
  
  &__photo{
    position: absolute;
    right: -15px;
    max-height: 320px;
    overflow: hidden;
  }

  &__bio{
    margin-top: 3rem;
    max-width: 60%;
  }
}

.user-experience{
  position: relative;
  top: -20px;
  margin-bottom: 4rem;
  padding: 36px 16px;
  background: #f8f8f8;
  box-shadow: 0 -.15rem .25rem rgba($black, .1);

  &__badges{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-right: -8px;
    margin-left: -8px;

    &__item{
      position: relative;
      display: inherit;
      flex-direction: column;
      min-height: 200px;
      max-width: 33.3333%;
      margin-bottom: 1rem;
      padding-right: 8px;
      padding-left: 8px;
      font-size: 14px;
      text-align: center;

      & p:nth-child(2){
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        font-weight: $font-weight-bold;
      }

      & p:last-child{
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}

.request{
  position: fixed;
  bottom: 40px;
  width: 100%;
  padding: 20px;
  background: white;
  
}